<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>CSS Layout</title>
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>
​
    <div class="box-content">
        <p>Content</p>
    </div>
    <br>
​
    <div class="box-border">
        <p>Border Box</p>
    </div>
    <br><br>
​
    <h2>Display Property Example</h2>
​
    <div class="block">Block Element</div>
​
    <span class="inline">Inline Element</span>
​
    <div class="inline-block">Inline-Block Element</div>
    <br><br>
​
    <h2>Positioning Elements Example</h2>
​
    <div class="sticky">Sticky Position</div>
​
    <div class="static">Static Position</div>
​
    <div class="relative">Relative Position</div>
​
    <div class="absolute">Absolute Position</div>
​
    <div class="fixed">Fixed Position</div>
    <br><br>
​
    <h2>Floats and Clearing Floats Example</h2>
​
    <div>
        <div class="float-right">Float Right</div>
​
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam a aspernatur in sit consequuntur optio sunt, dignissimos porro, aperiam, repudiandae vero debitis sint ipsam quae. Itaque omnis quo eveniet, repudiandae voluptates repellendus corrupti dolorem illum optio fugit nesciunt quam provident in vel ipsa enim ducimus molestiae, quidem, quibusdam similique nihil? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam doloribus error natus inventore. Quibusdam veritatis cum facilis obcaecati praesentium quod tenetur neque error exercitationem fugit nostrum molestias, qui veniam animi iure nam unde ipsum sint, ut velit quia rem temporibus! Qui fuga rem perferendis sed similique commodi sequi culpa quia?
    </div>
​
    <div>
        <div class="float-left">Float Left</div>
​
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas voluptatum dolorum odit sapiente neque. Dicta nihil delectus tenetur quam architecto officia obcaecati aperiam quisquam vitae sapiente nesciunt minus aspernatur voluptas facilis ratione velit quis ut laboriosam magni repudiandae animi, modi suscipit fuga minima? Debitis voluptatem distinctio tempore incidunt accusantium molestiae voluptatum 
​
        <div class="clear-floats">Clear Floats</div>
​
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe pariatur nemo illo. Provident explicabo officia maiores eveniet, debitis dolorum reiciendis ex repellat accusantium fuga quidem ipsa quod dicta voluptate totam animi distinctio modi atque dolore eos. Reiciendis similique architecto optio ut enim ducimus, nisi voluptatum hic et sint fugiat autem?
    </div>
​
    <h2>Centering Elements Example</h2>
​
    <div class="parent-box">
        <div class="center-horizontal">
            <p>This box is horizontally centered.</p>
        </div>
    </div>
​
    <div class="parent-box center-vertical">
        <div>
            <p>This text is vertically centered</p>
        </div>
    </div>
​
    <div class="parent-box center-horizontal-vertical">
        <div>
            <p>This text is vertically and horizontally centered.</p>
        </div>
    </div>
​
    <br><br><br><br><br>
</body>
</html>