<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <title>CSS Layout</title>
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>

    <div class="box-content"> 
        <p>Content</p>
    </div>
    <br>

    <div class="box-border">
        <p>Border Box</p>
    </div>
    <br><br>

    <h2>Display Property Example</h2>

    <div class="block">Block Element</div>

    <span class="inline">Inline Element</span>

    <div class="inline-block">Inline-Block Element</div>
    <br><br>

    <h2>Positioning Elements Example</h2>

    <div class="sticky">Sticky Position</div>

    <div class="static">Static Position</div>
    
    <div class="relative">Relative Position</div>

    <div class="absolute">Absolute Position</div>

    <div class="fixed">Fixed Position</div>
    <br><br>

    <h2>Floats and Clearing Floats Example</h2>

    <div>
        <div class="float-right">Float Right</div>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem repellat id ut recusandae sed aliquid tempora architecto vitae molestias officiis aperiam quisquam, quam, rerum ad mollitia molestiae aut iste fugiat error nostrum praesentium nesciunt veniam. At cumque aliquam repudiandae vel nesciunt aut deserunt perferendis? Reprehenderit error officiis placeat animi iure?
    </div>

    <div class="float-left">Float Left</div>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem inventore nobis rem quas eius asperiores, laudantium a, suscipit, ea nostrum fugit. Fugiat praesentium doloremque ullam consequatur! Quibusdam, veritatis id corrupti sed commodi repellendus perferendis ducimus error doloremque accusantium consequuntur quaerat dolores eaque fuga ratione laborum. Enim, quod architecto modi dignissimos illo asperiores possimus iusto mollitia quia fugit odio molestiae consectetur, sit illum eligendi provident maxime nulla atque accusantium voluptatum, voluptatem eos reiciendis expedita. Aut repudiandae inventore nihil ex corrupti officiis molestiae iusto. Sunt labore alias adipisci, consequuntur optio ad tempore exercitationem a quia iure reiciendis similique quibusdam doloribus consectetur quae.
    
    <div class="clear-float">Clear Floats</div>

    <h2>Centering Elements Example</h2>

    <div class="parent-box">
        <div class="center-horizontal">
            <p>This box is horizontally centered.</p>
        </div>
    </div>

    <div class="parent-box center-horizontal-vertical">
        <p>This text is vertically and horizonlly center</p>
    </div>

    <div class="parent-box center-vertical">
        <div >
            <p>This text is vertically centered</p>
        </div>
    </div>

    <br><br><br><br><br>

</body>
</html>